div.small_block img {
    height: 10%;
    max-width: 10%;
}

.small_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.small_block img:hover {
    border: 5px solid #9e0d0db6;
}

.big_block {
    display: none;
}

.check_img {
    border: 3px solid #222121;
    margin: 30px auto;
    padding: 10px;
    max-width: 50%;
}

p {
    text-align: center;
    color: slategrey;
}

div.check_img img {
    width: 100%;
}